.btn {
  margin-right: 5px;
}

.markedAsDone {
  text-decoration: line-through;
  color: #777;
}

.flex-end{
  display: flex !important;
  justify-content: flex-end;
  align-items: center
}

.mr-1{
  margin-right: 10px;
}

.pr-2{
  padding-right: 20px !important;
}